# Archivos temporales y binarios
bin/
obj/
.vs/
.vscode/
*.user
*.suo
*.db
*.log
*.lock.json
*.jfm

# Archivos de Docker generados por VS
Dockerfile.cs

# Configuración de entorno local
.env
appsettings.Development.json

# Git y otros
.git/
.gitignore
.settings/
.toolstarget/

# Otros
node_modules/
charts/
docker-compose*
secrets.dev.yaml
values.dev.yaml
