name: Sync Fork (Cesar)

on:
  push:
    branches:
      - master

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout upstream repo
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up git
      run: |
        git config --global user.email "actions@github.com"
        git config --global user.name "GitHub Actions"

    - name: Add fork remote
      run: git remote add fork https://CesarEduardoCeronM:${{ secrets.FORK_SYNC_TOKEN }}@github.com/CesarEduardoCeronM/aureum-services.git

    - name: Push to fork
      run: git push fork master --force 

